%p#notice= notice
%p
  %strong Name:
  = @recipe.name
%p
  %strong Instructions:
  = @recipe.instructions
%p
  %strong Ingredient List:
  - @recipe.ingredient_line_items.each do |line_item| 
    %br
    = "(ingredient_id: #{line_item.ingredient_id})"
    = line_item.ingredient.name
    = "(unit_id: #{line_item.unit_id})"
    = line_item.unit.name
    = number_with_precision(line_item.amount_by_unit, strip_insignificant_zeros: true)

= link_to 'Edit', edit_recipe_path(@recipe)
|
= link_to 'Back', recipes_path
